<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="csrf-token" content="DsjQRoIArlk5t7TtvXQIuKT0UwVg9mv5rEjwomUP">
    <title>
        Meme Orbit- Usdt payment details
    </title>

    <link rel="stylesheet" href="../asset/theme3/frontend/vendor/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="../asset/theme3/frontend/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../asset/theme3/frontend/vendor/boxicons/css/boxicons.min.css">
    <link rel="stylesheet" href="../asset/theme3/frontend/css/animate.min.css">
    <link rel="stylesheet" href="../asset/theme3/frontend/css/font-awsome.min.css">
    <link rel="stylesheet" href="../asset/theme3/frontend/css/helper.css">
    <link rel="stylesheet" href="../asset/theme3/frontend/css/iziToast.min.css">
    <link rel="stylesheet" href="../asset/theme3/frontend/css/reset.css">
    <link rel="stylesheet" href="../asset/theme3/frontend/css/selectric.css">
    <link rel="stylesheet" href="../asset/theme3/frontend/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">

    <style>
        .error {
            color: rgb(207, 22, 22);
            margin-top: 5px;
            font-size: 17px;
            text-align: center;
            text-transform: capitalize;
        }
    
        .success {
            color: rgb(12, 56, 12);
            margin-top: 5px;
            font-size: 17px;
            text-align: center;
            text-transform: capitalize;
        }
    </style>

</head>

<body onload="loadConfirmation()">


    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top header-inner-pages">
        <div class="container-fluid d-flex align-items-center justify-content-between">
            <div class="d-flex flex-wrap align-items-center">
                <div class="logo me-auto me-lg-0 ">
                    <a href="../dashboard/dashboard.html">
                        <img class="img-fluid rounded sm-device-img text-align"
                            src="../asset/theme3/images/logo/MEMEORBIT LOGO_122256.png" width="100%" alt="pp">
                    </a>
                </div>
            </div>
            <div id="google_translate_element"></div>

            <script type="text/javascript">
                function googleTranslateElementInit() {
                    new google.translate.TranslateElement({
                        pageLanguage: 'en', // Set the original language of your website
                        includedLanguages: 'en,es,fr,de,pt,ru,zh-CN,ja,ar,it,nl,ko,tr,sv,pl,id,el,da,no,fi', // Include major country language codes
                        layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
                        autoDisplay: false
                    }, 'google_translate_element');
                }
            </script>

            <script type="text/javascript"
                src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


        </div>
    </header>
    <!-- End Header -->

    <main id="main" class="dashboard-main">
        <section class="dashboard-section">

            <div class="d-sidebar">


                <ul class="d-sidebar-menu">
                    <li class="active">
                        <a href="../dashboard/dashboard.html"><i data-feather="home"></i> Dashboard</a>
                    </li>

                    <li class="has_submenu ">
                        <a href="#0"><i data-feather="zap"></i> Investment</a>
                        <ul class="submenu">
                            <li class="">
                                <a href="../dashboard/investmentplan.html"><i class="bi bi-chevron-double-right"></i>
                                    Investment plans</a>
                            </li>
                            <li class="">
                                <a href="../components/invest-log.html"><i class="bi bi-chevron-double-right"></i>
                                    Invest log</a>
                            </li>
                        </ul>
                    </li>

                    <li class="has_submenu ">
                        <a href="#0"><i data-feather="briefcase"></i> Deposit</a>
                        <ul class="submenu">
                            <li class="">
                                <a href="../components/deposit.html"><i class="bi bi-chevron-double-right"></i>
                                    Deposit</a>
                            </li>
                            <li class="">
                                <a href="../components/deposit-log.html"><i class="bi bi-chevron-double-right"></i>
                                    Deposit log</a>
                            </li>
                        </ul>
                    </li>

                    <li class="has_submenu ">
                        <a href="#0"><i data-feather="credit-card"></i> Withdraw</a>
                        <ul class="submenu">
                            <li class="">
                                <a href="../components/withdraw.html"><i class="bi bi-chevron-double-right"></i>
                                    Withdraw</a>
                            </li>
                            <li class="">
                                <a href="../components/withdrawal-log.html"><i class="bi bi-chevron-double-right"></i>
                                    Withdraw log</a>
                            </li>
                        </ul>
                    </li>

                    <li class="">
                        <a href="../components/transaction-log.html"><i data-feather="file-text"></i> Transaction
                            log</a>
                    </li>

                    <li class="">
                        <a href="../components/ticket.html"><i data-feather="life-buoy"></i> Support</a>
                    </li>

                    <li>
                        <a href="../index.html"><i data-feather="log-out"></i> Logout</a>
                    </li>
                </ul>

                <div class="d-plan-notice mt-4 mx-3">
                    <p class="mb-0">Your current plan
                        -N/A</p>
                    <a href="../dashboard/investmentplan.html">Upgrade plan <i class="bi bi-arrow-up"></i></a>
                </div>
            </div>

            <!-- mobile bottom menu start -->
            <div class="mobile-bottom-menu-wrapper">
                <ul class="mobile-bottom-menu">
                    <li>
                        <div class="dropdown" style="margin-left: 10px;">
                            <a href="#" class="dropdown-toggle" onclick="toggleDropdown(event)">
                                <i class="bi bi-person-circle"></i>
                                <span>Profile</span>
                            </a>
                            <div class="dropdown-menu">
                                <a href="../components/settings.html">Settings</a>
                                <a href="../index.html">Logout</a>
                            </div>
                        </div>
                    </li>

                    <li>
                        <a href="../dashboard/dashboard.html" class="active">
                            <i class="bi bi-grid"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>

                    <li>
                        <a href="../dashboard/menu.html" class="">
                            <i class="bi bi-list"></i>
                            <span>Menu</span>
                        </a>
                    </li>



                    <!-- <li>
  <a href="https://globe-asset.com/withdraw" class="">
    <i class="bi bi-cash-coin"></i>
    <span>Withdraw</span>
  </a>
</li> -->

                </ul>
            </div>
            <!-- mobile bottom menu end -->

            <div class="dashboard-body-part">

                <div class="mobile-page-header">
                    <h5 class="title">Payment informations</h5>
                    <a href="../dashboard/dashboard.html" class="back-btn"><i class="bi bi-arrow-left"></i> Back</a>
                </div>

                <div class="row gy-4">
                    <div id="errorMsg" class="error"></div>
                    <div id="successMsg" class="success"></div>

                    <div class="col-xl-6 ">
                        <div class="site-card ">
                         1   <div class="card-header ">
                                <h5 class="mb-0 ">Payment information</h5>
                            </div>


                            <div class="card-body ">
                                <ul class="list-group ">
                                    <li class="list-group-item d-flex justify-content-between ">
                                        <div class="input-group mb-3 ml-3 mr-3">
                                            <input type="text" id="refer-link" class="form-control copy-text"
                                                value="TAgAWVNbckS5FPRxtwEdGkwEdUivrQZ6nF" placeholder="Wallet Address"
                                                aria-label="" aria-describedby="" readonly>
                                            <button type="button" class="input-group-text copy cmn-btn"
                                                id="copy-address">Copy</button>
                                        </div>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between ">
                                        <span>Gateway name:</span>

                                        <span>USDT TRC20</span>

                                    </li>
                                    <li class="list-group-item d-flex justify-content-between ">
                                        <span>Amount:</span>
                                        <span id="depositAmt"></span>Eth
                                    </li>

                                    <li class="list-group-item d-flex justify-content-between ">
                                        <span>Charge:</span>
                                        <span>0.00 usdt</span>
                                    </li>

                                    <!-- <li class="list-group-item d-flex justify-content-between ">
                                        <span>Conversion rate:</span>
                                        <span>1 USD = 1</span>
                                    </li> -->

                                    <li class="list-group-item d-flex justify-content-between ">
                                        <span>Amount in usd:</span>
                                        <span id="equAmt"></span><span>Usd</span>
                                    </li>

                                    <li class="list-group-item d-flex justify-content-between ">
                                        <button class="btn bg-primary text-light mt-4 " type="button" onclick="ethDeposit()">Deposit
                                            now</button>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>


    <script src="../scripts/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="../scripts/loadUsdtConfirmationPage.js"></script>
    <!-- <script src="../scripts/deposit.js"></script> -->
</body>

</html>



<!--  new sect -->
  <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="csrf-token" content="DsjQRoIArlk5t7TtvXQIuKT0UwVg9mv5rEjwomUP">
    <title>
        Meme Orbit- Bitcoin payment details
    </title>

    <link rel="stylesheet" href="../asset/theme3/frontend/vendor/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="../asset/theme3/frontend/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../asset/theme3/frontend/vendor/boxicons/css/boxicons.min.css">
    <link rel="stylesheet" href="../asset/theme3/frontend/css/animate.min.css">
    <link rel="stylesheet" href="../asset/theme3/frontend/css/font-awsome.min.css">
    <link rel="stylesheet" href="../asset/theme3/frontend/css/helper.css">
    <link rel="stylesheet" href="../asset/theme3/frontend/css/iziToast.min.css">
    <link rel="stylesheet" href="../asset/theme3/frontend/css/reset.css">
    <link rel="stylesheet" href="../asset/theme3/frontend/css/selectric.css">
    <link rel="stylesheet" href="../asset/theme3/frontend/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    
    <style>
        .error{
            color: rgb(207, 22, 22);
            margin-top: 5px;
            font-size: 17px;
            text-align: center;
            text-transform: capitalize;
        }
        .success{
            color: rgb(12, 56, 12);
            margin-top: 5px;
            font-size: 17px;
            text-align: center;
            text-transform: capitalize;
        }
        .site-card {
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
            border-radius: 10px;
            padding: 20px;
            background-color: #fff;
        }

        .card-header h5 {
            font-weight: bold;
            color: #333;
        }

        .list-group-item {
            background: transparent;
            border: none;
            padding: 15px 10px;
            font-size: 16px;
        }

        .form-control {
            font-size: 16px;
        }

        @media (max-width: 576px) {
            .list-group-item span {
                font-size: 14px;
            }

            .btn {
                font-size: 14px;
            }
        }
    </style>

</head>


<body onload="confirmBtcPage()">


    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top header-inner-pages">
        <div class="container-fluid d-flex align-items-center justify-content-between">
            <div class="d-flex flex-wrap align-items-center">
                <div class="logo me-auto me-lg-0 ">
                    <a href="../dashboard/dashboard.html">
                        <img class="img-fluid rounded sm-device-img text-align"
                            src="../asset/theme3/images/logo/MEMEORBIT LOGO_122256.png" width="100%" alt="pp">
                    </a>
                </div>
            </div>
            <div id="google_translate_element"></div>

            <script type="text/javascript">
                function googleTranslateElementInit() {
                    new google.translate.TranslateElement({
                        pageLanguage: 'en', // Set the original language of your website
                        includedLanguages: 'en,es,fr,de,pt,ru,zh-CN,ja,ar,it,nl,ko,tr,sv,pl,id,el,da,no,fi', // Include major country language codes
                        layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
                        autoDisplay: false
                    }, 'google_translate_element');
                }
            </script>

            <script type="text/javascript"
                src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


        </div>
    </header>
    <!-- End Header -->

    

    <main id="main" class="dashboard-main" >
        <section class="dashboard-section">

            <div class="d-sidebar">


                <ul class="d-sidebar-menu">
                    <li class="active">
                        <a href="../dashboard/dashboard.html"><i data-feather="home"></i> Dashboard</a>
                    </li>

                    <li class="has_submenu ">
                        <a href="#0"><i data-feather="zap"></i> Investment</a>
                        <ul class="submenu">
                            <li class="">
                                <a href="../dashboard/investmentplan.html"><i class="bi bi-chevron-double-right"></i>
                                    Investment plans</a>
                            </li>
                            <li class="">
                                <a href="../components/invest-log.html"><i class="bi bi-chevron-double-right"></i>
                                    Invest log</a>
                            </li>
                        </ul>
                    </li>

                    <li class="has_submenu ">
                        <a href="#0"><i data-feather="briefcase"></i> Deposit</a>
                        <ul class="submenu">
                            <li class="">
                                <a href="../components/deposit.html"><i class="bi bi-chevron-double-right"></i>
                                    Deposit</a>
                            </li>
                            <li class="">
                                <a href="../components/deposit-log.html"><i class="bi bi-chevron-double-right"></i>
                                    Deposit log</a>
                            </li>
                        </ul>
                    </li>

                    <li class="has_submenu ">
                        <a href="#0"><i data-feather="credit-card"></i> Withdraw</a>
                        <ul class="submenu">
                            <li class="">
                                <a href="../components/withdraw.html"><i class="bi bi-chevron-double-right"></i>
                                    Withdraw</a>
                            </li>
                            <li class="">
                                <a href="../components/withdrawal-log.html"><i class="bi bi-chevron-double-right"></i>
                                    Withdraw log</a>
                            </li>
                        </ul>
                    </li>

                    <li class="">
                        <a href="../components/transaction-log.html"><i data-feather="file-text"></i> Transaction
                            log</a>
                    </li>

                    <li class="">
                        <a href="../components/ticket.html"><i data-feather="life-buoy"></i> Support</a>
                    </li>

                    <li>
                        <a href="../index.html"><i data-feather="log-out"></i> Logout</a>
                    </li>
                </ul>

                <div class="d-plan-notice mt-4 mx-3">
                    <p class="mb-0">Your current plan
                        -N/A</p>
                    <a href="../dashboard/investmentplan.html">Upgrade plan <i class="bi bi-arrow-up"></i></a>
                </div>
            </div>


            <!-- mobile bottom menu start -->
            <div class="mobile-bottom-menu-wrapper">
                <ul class="mobile-bottom-menu">
                    <li>
                        <div class="dropdown" style="margin-left: 10px;">
                            <a href="#" class="dropdown-toggle" onclick="toggleDropdown(event)">
                                <i class="bi bi-person-circle"></i>
                                <span>Profile</span>
                            </a>
                            <div class="dropdown-menu">
                                <a href="../components/settings.html">Settings</a>
                                <a href="../index.html">Logout</a>
                            </div>
                        </div>
                    </li>

                    <li>
                        <a href="../dashboard/dashboard.html" class="active">
                            <i class="bi bi-grid"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>

                    <li>
                        <a href="../dashboard/menu.html" class="">
                            <i class="bi bi-list"></i>
                            <span>Menu</span>
                        </a>
                    </li>



                    <!-- <li>
  <a href="https://globe-asset.com/withdraw" class="">
    <i class="bi bi-cash-coin"></i>
    <span>Withdraw</span>
  </a>
</li> -->

                </ul>
            </div>
            <!-- mobile bottom menu end -->

            <div class="dashboard-body-part">

                <div class="mobile-page-header">
                    <h5 class="title">Payment informations</h5>
                    <a href="../dashboard/dashboard.html" class="back-btn"><i class="bi bi-arrow-left"></i> Back</a>
                </div>

                <div class="row gy-4">

                    <div id="errorMsg" class="error"></div>
                    <div id="successMsg" class="success"></div>

                    <div class="col-xl-6 ">
                        <div class="site-card ">
                            <div class="card-header ">
                                <h5 class="mb-0 ">Payment information</h5>
                            </div>


                            <div class="card-body ">
                                <ul class="list-group ">
                                    <li class="list-group-item d-flex justify-content-between ">
                                        <div class="input-group mb-3 ml-3 mr-3">
                                            <input type="text" id="refer-link" class="form-control copy-text"
                                                value="bc1qr3tklzp333dsd3qfnyl3gqk9dfk8skl8gmhcvt"
                                                placeholder="Wallet Address" aria-label="" aria-describedby="" readonly>
                                            <button type="button" class="input-group-text copy cmn-btn"
                                                id="copy-address">Copy</button>
                                        </div>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between ">
                                        <span>Gateway name:</span>

                                        <span>Bitcoin</span>

                                    </li>
                                    <li class="list-group-item d-flex justify-content-between ">
                                        <div>
                                            <span>Amount:</span>
                                            <span id="depositAmt"></span>Btc
                                        </div>
                                        
                                    </li>

                                    <li class="list-group-item d-flex justify-content-between ">
                                        
                                        <span>Charge:</span>
                                        <span>0.00 btc</span>
                                    </li>

                                    <!-- <li class="list-group-item d-flex justify-content-between ">
                                        <span>Conversion rate:</span>
                                        <span>1 USD = 1</span>
                                    </li> -->

                                    <li class="list-group-item d-flex justify-content-between ">
                                        <div>
                                            <span>Amount in usd:</span>
                                            <span id="equAmt"></span><span>Usd</span>
                                        </div>
                                        
                                    </li>

                                    <li class="list-group-item d-flex justify-content-between ">
                                        <button class="btn bg-primary text-light mt-4 " type="button" onclick="btcDeposit()"  >Deposit
                                            now</button>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>



    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="../scripts/main.js"></script>
    <!-- <script src="../scripts/deposit.js"></script> -->
    <script src="../scripts/loadBtcConfirmationPage.js"></script>
</body>

</html>


<!-- new sect 
 <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="csrf-token" content="DsjQRoIArlk5t7TtvXQIuKT0UwVg9mv5rEjwomUP">

    <title>
        Meme Orbit- Etheruem payment details
    </title>

    <link rel="stylesheet" href="../asset/theme3/frontend/vendor/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="../asset/theme3/frontend/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../asset/theme3/frontend/vendor/boxicons/css/boxicons.min.css">
    <link rel="stylesheet" href="../asset/theme3/frontend/css/animate.min.css">
    <link rel="stylesheet" href="../asset/theme3/frontend/css/font-awsome.min.css">
    <link rel="stylesheet" href="../asset/theme3/frontend/css/helper.css">
    <link rel="stylesheet" href="../asset/theme3/frontend/css/iziToast.min.css">
    <link rel="stylesheet" href="../asset/theme3/frontend/css/reset.css">
    <link rel="stylesheet" href="../asset/theme3/frontend/css/selectric.css">
    <link rel="stylesheet" href="../asset/theme3/frontend/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">

    <style>
    .error{
        color: rgb(207, 22, 22);
        margin-top: 5px;
      font-size: 17px;
      text-align: center;
      text-transform: capitalize;
    }
    .success{
        color: rgb(12, 56, 12);
        margin-top: 5px;
        font-size: 17px;
        text-align: center;
        text-transform: capitalize;
    }
    </style>

</head>

<body onload="loadConfirmation()">


    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top header-inner-pages">
        <div class="container-fluid d-flex align-items-center justify-content-between">
            <div class="d-flex flex-wrap align-items-center">
                <div class="logo me-auto me-lg-0 ">
                    <a href="../dashboard/dashboard.html">
                        <img class="img-fluid rounded sm-device-img text-align"
                            src="../asset/theme3/images/logo/MEMEORBIT LOGO_122256.png" width="100%" alt="pp">
                    </a>
                </div>
            </div>
            <div id="google_translate_element"></div>

            <script type="text/javascript">
                function googleTranslateElementInit() {
                    new google.translate.TranslateElement({
                        pageLanguage: 'en', // Set the original language of your website
                        includedLanguages: 'en,es,fr,de,pt,ru,zh-CN,ja,ar,it,nl,ko,tr,sv,pl,id,el,da,no,fi', // Include major country language codes
                        layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
                        autoDisplay: false
                    }, 'google_translate_element');
                }
            </script>

            <script type="text/javascript"
                src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


        </div>
    </header>
    <!-- End Header -->

    <main id="main" class="dashboard-main">
        <section class="dashboard-section">

            <div class="d-sidebar">


                <ul class="d-sidebar-menu">
                    <li class="active">
                        <a href="../dashboard/dashboard.html"><i data-feather="home"></i> Dashboard</a>
                    </li>

                    <li class="has_submenu ">
                        <a href="#0"><i data-feather="zap"></i> Investment</a>
                        <ul class="submenu">
                            <li class="">
                                <a href="../dashboard/investmentplan.html"><i class="bi bi-chevron-double-right"></i>
                                    Investment plans</a>
                            </li>
                            <li class="">
                                <a href="../components/invest-log.html"><i class="bi bi-chevron-double-right"></i>
                                    Invest log</a>
                            </li>
                        </ul>
                    </li>

                    <li class="has_submenu ">
                        <a href="#0"><i data-feather="briefcase"></i> Deposit</a>
                        <ul class="submenu">
                            <li class="">
                                <a href="../components/deposit.html"><i class="bi bi-chevron-double-right"></i>
                                    Deposit</a>
                            </li>
                            <li class="">
                                <a href="../components/deposit-log.html"><i class="bi bi-chevron-double-right"></i>
                                    Deposit log</a>
                            </li>
                        </ul>
                    </li>

                    <li class="has_submenu ">
                        <a href="#0"><i data-feather="credit-card"></i> Withdraw</a>
                        <ul class="submenu">
                            <li class="">
                                <a href="../components/withdraw.html"><i class="bi bi-chevron-double-right"></i>
                                    Withdraw</a>
                            </li>
                            <li class="">
                                <a href="../components/withdrawal-log.html"><i class="bi bi-chevron-double-right"></i>
                                    Withdraw log</a>
                            </li>
                        </ul>
                    </li>

                    <li class="">
                        <a href="../components/transaction-log.html"><i data-feather="file-text"></i> Transaction
                            log</a>
                    </li>

                    <li class="">
                        <a href="../components/ticket.html"><i data-feather="life-buoy"></i> Support</a>
                    </li>

                    <li>
                        <a href="../index.html"><i data-feather="log-out"></i> Logout</a>
                    </li>
                </ul>

                <div class="d-plan-notice mt-4 mx-3">
                    <p class="mb-0">Your current plan
                        -N/A</p>
                    <a href="../dashboard/investmentplan.html">Upgrade plan <i class="bi bi-arrow-up"></i></a>
                </div>
            </div>

            <!-- mobile bottom menu start -->
            <div class="mobile-bottom-menu-wrapper">
                <ul class="mobile-bottom-menu">
                    <li>
                        <div class="dropdown" style="margin-left: 10px;">
                            <a href="#" class="dropdown-toggle" onclick="toggleDropdown(event)">
                                <i class="bi bi-person-circle"></i>
                                <span>Profile</span>
                            </a>
                            <div class="dropdown-menu">
                                <a href="../components/settings.html">Settings</a>
                                <a href="../index.html">Logout</a>
                            </div>
                        </div>
                    </li>

                    <li>
                        <a href="../dashboard/dashboard.html" class="active">
                            <i class="bi bi-grid"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>

                    <li>
                        <a href="../dashboard/menu.html" class="">
                            <i class="bi bi-list"></i>
                            <span>Menu</span>
                        </a>
                    </li>



                    <!-- <li>
  <a href="https://globe-asset.com/withdraw" class="">
    <i class="bi bi-cash-coin"></i>
    <span>Withdraw</span>
  </a>
</li> -->

                </ul>
            </div>
            <!-- mobile bottom menu end -->

            <div class="dashboard-body-part">

                <div class="mobile-page-header">
                    <h5 class="title">Payment informations</h5>
                    <a href="https://globe-asset.com/deposit" class="back-btn"><i class="bi bi-arrow-left"></i> Back</a>
                </div>

                <div class="row gy-4">

                    <div class="col-xl-6 ">
                        <div class="site-card ">
                            <div class="card-header ">
                                <h5 class="mb-0 ">Payment information</h5>
                            </div>
                            
                            <div id="errorMsg" class="error"></div>
                            <div id="successMsg" class="success"></div>

                            <div class="card-body ">
                                <ul class="list-group ">
                                    <li class="list-group-item d-flex justify-content-between ">
                                        <div class="input-group mb-3 ml-3 mr-3">
                                            <input type="text" id="refer-link" class="form-control copy-text"
                                                value="0x69Db4E29f006B89A4f728995aF7C1519189E00f7"
                                                placeholder="Wallet Address" aria-label="" aria-describedby="" readonly>
                                            <button type="button" class="input-group-text copy cmn-btn"
                                                id="copy-address">Copy</button>
                                        </div>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between ">
                                        <span>Gateway name:</span>

                                        <span>Etheruem</span>

                                    </li>
                                    <li class="list-group-item d-flex justify-content-between ">
                                        <span>Amount:</span>
                                        <span id="depositAmt"></span>Eth
                                    </li>

                                    <li class="list-group-item d-flex justify-content-between ">
                                        <span>Charge:</span>
                                        <span>0.00 eth</span>
                                    </li>

                                    <!-- <li class="list-group-item d-flex justify-content-between ">
                                        <span>Conversion rate:</span>
                                        <span>1 USD = 1</span>
                                    </li> -->

                                    <li class="list-group-item d-flex justify-content-between ">
                                        <span>Amount in usd:</span>
                                        <span id="equAmt"></span><span>Usd</span>
                                    </li>

                                    <li class="list-group-item d-flex justify-content-between ">
                                        <button class="btn bg-primary text-light mt-4 " type="button" onclick="ethDeposit()">Deposit
                                            now</button>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>


    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="../scripts/main.js"></script>
    <script src="../scripts/loadEthConfirmationPage.js" ></script>
    <!-- <script src="../scripts/deposit.js"></script> -->
</body>

</html>